<div class="hero-wrap js-fullheight" style="background-image: url('../../../assets/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
    </div>
</div>
<section class="section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-4 order-md-last">
                <div class="login-wrap p-4 p-md-5">
                    <app-inscription></app-inscription>
                </div>
            </div>
        </div>
    </div>
</section>