<div *ngIf="isLoggedIn; else loggedOut">
    Connecté en tant que {{roles}}.
</div>

<ng-template #loggedOut>
    <form class="form-inline form " name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

        <input type="text" class="form-control mr-3" name="email" placeholder="Email" [(ngModel)]="form.email" #email="ngModel" required />

        <input type="password" class="form-control mr-3" placeholder="Mot de passe" name="password" [(ngModel)]="form.password" #password="ngModel" required minlength="6" />

        <button class="btn btn-primary submit" type="submit"><i class=" fa-solid fa-right-to-bracket"></i></button>
        <div class="error ml-3 " *ngIf="f.submitted && email.invalid">
            <div *ngIf="email.errors"> Champs obligatoires !</div>
        </div>

        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger ml-3">
            Connexion échoué ! {{errorMessage}}
        </div>
    </form>

</ng-template>