.error {
    margin-left: 50px;
    color: brown;
    font-weight: bold;
    font-size: x-small;
}

.head {
    color: rgb(69, 61, 211);
    font-weight: bold;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}