<section class="hero-wrap hero-wrap-2" style="background-image: url(./assets/images/bg_2.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center fadeInUp ftco-animated">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Acceuil
                            <i class="fa fa-chevron-right"></i></a></span>
                    <span>Catalogue <i class="fa fa-chevron-right"></i></span>
                </p>
                <h1 class="mb-0 bread">Liste de formations</h1>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<br>
<br>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 sidebar">
                <div class="sidebar-box bg-white ftco-animate fadeInUp ftco-animated">
                    <form action="#" class="search-form">
                        <div class="form-group">
                            <span class="icon fa fa-search"></span>
                            <input type="text" class="form-control" placeholder="Search...">
                        </div>
                    </form>
                </div>
                <div class="sidebar-box bg-white p-4 ftco-animate fadeInUp ftco-animated">
                    <h3 class="heading-sidebar">Domaines de Formation</h3>
                    <form action="#" class="browse-form">
                        <ng-container *ngFor="let elt of domaines;">
                            <label for="option-category-1">
                                <input type="radio" name="vehicle" value=""
                                    (click)="recupAllFormationsByDomaineName(elt.nomDomaine)">{{elt.nomDomaine}}
                            </label><br>
                        </ng-container><br>
                        <h3 class="heading-sidebar">Thèmes</h3>
                        <ng-container *ngFor="let elt of themes">
                            <label for="option-instructor-1">
                                <input type="radio" name="vehicle" value=""
                                    (click)="recupAllFormationByThemeName(elt.nomTheme)">{{ elt.nomTheme }}
                            </label><br>
                        </ng-container>
                    </form>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <ng-container *ngFor="let elt of formations">
                        <div class="col-md-6 d-flex align-items-stretch ftco-animate fadeInUp ftco-animated">
                            <div class="project-wrap">
                                <a href="http://localhost:4200/formations/{{elt.id}}" class="img" style="background-image: url(./assets/images/work-1.jpg);">
                                    <span class="price">{{ elt.intitule }}</span>
                                </a>
                                <div class="text p-4">
                                    <h3><a href="http://localhost:4200/formations/{{elt.id}}">{{ elt.descriptionBreve }}</a></h3>
                                    <p class="advisor"></p>
                                    <ul class="d-flex justify-content-between align-items-end">
                                        <li><span class="flaticon-shower"></span>{{ elt.nbHeures }} heures</li>
                                        <li class="price">{{ elt.prix }} €</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="row mt-5">
                    <div class="col">
                        <div class="block-27">
                            <ul>
                                <li><a href="#">&lt;</a></li>
                                <li class="active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">&gt;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<br>
