<ng-container>

    <!-- Bandeau du haut avec fil d'Ariane -->
    <section class="hero-wrap hero-wrap-2" style="background-image: url('../../../assets/images/work-6.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate pb-5 text-center fadeInUp ftco-animated">
                    <p class="breadcrumbs">
                        <span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span>
                        <span class="mr-2"><a href="/catalogue">Catalogue <i class="fa fa-chevron-right"></i></a></span>
                        <span class="mr-2"><a href="/catalogue/domaine">Domaine <i
                                    class="fa fa-chevron-right"></i></a></span>
                        <span class="mr-2"><a href="/catalogue/domaine/theme">{{ theme.nomTheme }}</a></span>
                    </p>
                    <h1 class="mb-0 bread">{{ formation.intitule }}</h1>
                </div>
            </div>
        </div>
    </section>

    <!-- Description -->
    <section class="section ftco-about img">
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-12 about-intro">
                    <div class="row">
                        <div class="col-md-6 d-flex">
                            <div class="d-flex about-wrap">
                                <div class="img d-flex align-items-center justify-content-center"
                                    style="background-image:url(assets/images/image_4.jpg);">
                                </div>
                                <div class="img-2 d-flex align-items-center justify-content-center"
                                    style="background-image:url(assets/images/image_5.jpg);">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pl-md-5 py-5">
                            <div class="row justify-content-start pb-3">
                                <div class="col-md-12 heading-section ftco-animate fadeInUp ftco-animated">
                                    <span class="subheading">Développez de nouvelles compétences</span>
                                    <h2 class="mb-4">En quelques mots</h2>
                                    <p style="text-align: justify">{{ formation.descriptionLongue }}</p>
                                    <p><a href="#" class="btn btn-primary">Trouvez votre session !</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Bande avec image qui scroll -->
    <section class="section ftco-counter img" id="section-counter"
        style="background-image: url(assets/images/work-1.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate fadeInUp ftco-animated">
                    <div class="block-18 d-flex align-items-center">
                        <div class="block d-flex align-items-center justify-content-center icon" style="color: white"><i
                                class="fa-regular fa-3x fa-calendar"></i></div>
                        <div class="text">
                            <strong class="number" data-number="4500">{{ sessions.length }}</strong>
                            <span>Sessions à venir</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate fadeInUp ftco-animated">
                    <div class="block-18 d-flex align-items-center">
                        <div class="block d-flex align-items-center justify-content-center icon" style="color: white"><i
                                class="fa-regular fa-3x fa-clock"></i></div>
                        <div class="text">
                            <strong class="number" data-number="400">{{ formation.nbHeures}}</strong>
                            <span>Heures</span>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate fadeInUp ftco-animated">
                    <div class="block-18 d-flex align-items-center">
                        <div class="icon"><span class="flaticon-instructor"></span></div>
                        <div class="text">
                            <strong class="number" data-number="1200">1,200</strong>
                            <span>Experts Instructors</span>
                        </div>
                    </div>
                </div> -->
                <div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate fadeInUp ftco-animated">
                    <div class="block-18 d-flex align-items-center">
                        <div class="block d-flex align-items-center justify-content-center icon" style="color: white"><i
                                class="fa-solid fa-3x fa-euro-sign"></i></div>
                        <div class="text">
                            <strong class="number" data-number="300">{{ formation.prix }}</strong>
                            <span>Eligible CPF</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Détails programme et infos complémentaires -->
    <section class="section services-section">
        <div class="container">
            <div class="row d-flex">
                <div
                    class="col-md-8 heading-section pr-md-5 ftco-animate d-flex align-items-center fadeInUp ftco-animated">
                    <div class="w-100 mb-4 mb-md-0">
                        <span class="subheading">Améliorez votre employabilité</span>
                        <h2 class="mb-4">Le programme en détails</h2>
                        <p>{{ formation.programme }}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-12 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                        <div class="services">
                            <div class="icon icon-4 d-flex align-items-center justify-content-center"
                                style="color: white"><i class="fa-regular fa-2x fa-address-card"></i></div>
                            <div class="media-body">
                                <h3 class="heading mb-3">Contact</h3>
                                <div>Nom : {{ contact.prenomEmploye }} {{ contact.nomEmploye }}</div>
                                <div>Téléphone : </div>
                                <div>Email : {{ contact.emailEmploye }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                        <div class="services">
                            <div class="icon icon-3 d-flex align-items-center justify-content-center"
                                style="color: white"><i class="fa-regular fa-2x fa-pen-to-square"></i></div>
                            <div class="media-body">
                                <h3 class="heading mb-3">Quiz</h3>
                                <p>Faîtes le test pour savoir si vous avez le niveau requis. Prerequis
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </section>

    <!-- Carousel proposition autres formations -->
    <section class="section testimony-section bg-light">
        <div class="overlay" style="background-image: url(assets/images/bg_2.jpg);"></div>
        <div class="container">
            <div class="row pb-4">
                <div class="col-md-7 heading-section ftco-animate fadeInUp ftco-animated">
                    <span class="subheading">Dans le même thème</span>
                    <h2 class="mb-4">Autres suggestions</h2>
                </div>
            </div>
        </div>
        <div class="container container-2">
            <div class="row ftco-animate fadeInUp ftco-animated">
                <div class="col-md-12">
                    <div class="carousel-testimony owl-carousel owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage"
                                style="transform: translate3d(-967px, 0px, 0px); transition: all 0.25s ease 0s; width: 4193px;">
                                <div class="owl-item cloned" style="width: 292.5px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="testimony-wrap py-4">
                                            <div class="text">
                                                <div class="d-flex align-items-center">
                                                    <div class="user-img"
                                                        style="background-image: url(assets/images/bg_4.jpg)"></div>
                                                    <div class="pl-3">
                                                        <p class="name">Technicien helpdesk</p>
                                                        <span class="position">Nb sessions à venir : 4</span>
                                                    </div>
                                                </div>
                                                <p class="mb-4">Far far away, behind the word mountains, far from the
                                                    countries Vokalia and Consonantia, there live the blind texts.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 292.5px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="testimony-wrap py-4">
                                            <div class="text">
                                                <div class="d-flex align-items-center">
                                                    <div class="user-img"
                                                        style="background-image: url(assets/images/bg_4.jpg)"></div>
                                                    <div class="pl-3">
                                                        <p class="name">Technicien helpdesk</p>
                                                        <span class="position">Nb sessions à venir : 4</span>
                                                    </div>
                                                </div>
                                                <p class="mb-4">Far far away, behind the word mountains, far from the
                                                    countries Vokalia and Consonantia, there live the blind texts.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 292.5px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="testimony-wrap py-4">
                                            <div class="text">
                                                <div class="d-flex align-items-center">
                                                    <div class="user-img"
                                                        style="background-image: url(assets/images/bg_4.jpg)"></div>
                                                    <div class="pl-3">
                                                        <p class="name">Technicien helpdesk</p>
                                                        <span class="position">Nb sessions à venir : 4</span>
                                                    </div>
                                                </div>
                                                <p class="mb-4">Far far away, behind the word mountains, far from the
                                                    countries Vokalia and Consonantia, there live the blind texts.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned active" style="width: 292.5px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="testimony-wrap py-4">
                                            <div class="text">
                                                <div class="d-flex align-items-center">
                                                    <div class="user-img"
                                                        style="background-image: url(assets/images/work-3.jpg)"></div>
                                                    <div class="pl-3">
                                                        <p class="name">Technicien helpdesk</p>
                                                        <span class="position">Nb sessions à venir : 4</span>
                                                    </div>
                                                </div>
                                                <p class="mb-4">Lorem ipsum, dolor sit amet consectetur adipisicing
                                                    elit. Cumque dicta suscipit deserunt necessitatibus dolorum
                                                    voluptatibus facere eos neque maiores maxime?</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 292.5px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="testimony-wrap py-4">
                                            <div class="text">
                                                <div class="d-flex align-items-center">
                                                    <div class="user-img"
                                                        style="background-image: url(assets/images/image_4.jpg)"></div>
                                                    <div class="pl-3">
                                                        <p class="name">Technicien Devops</p>
                                                        <span class="position">Nb sessions à venir : 7</span>
                                                    </div>
                                                </div>
                                                <p class="mb-4">Lorem ipsum, dolor sit amet consectetur adipisicing
                                                    elit. Cumque dicta suscipit deserunt necessitatibus dolorum
                                                    voluptatibus facere eos neque maiores maxime?</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 292.5px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="testimony-wrap py-4">
                                            <div class="text">
                                                <div class="d-flex align-items-center">
                                                    <div class="user-img"
                                                        style="background-image: url(assets/images/work-1.jpg)"></div>
                                                    <div class="pl-3">
                                                        <p class="name">Angular avancé</p>
                                                        <span class="position">Nb sessions à venir : 1</span>
                                                    </div>
                                                </div>
                                                <p class="mb-4">Lorem ipsum, dolor sit amet consectetur adipisicing
                                                    elit. Cumque dicta suscipit deserunt necessitatibus dolorum
                                                    voluptatibus facere eos neque maiores maxime?</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 292.5px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="testimony-wrap py-4">
                                            <div class="text">
                                                <div class="d-flex align-items-center">
                                                    <div class="user-img"
                                                        style="background-image: url(assets/images/bg_4.jpg)"></div>
                                                    <div class="pl-3">
                                                        <p class="name">Scrum developer</p>
                                                        <span class="position">Nb sessions à venir : 3</span>
                                                    </div>
                                                </div>
                                                <p class="mb-4">Lorem ipsum, dolor sit amet consectetur adipisicing
                                                    elit. Cumque dicta suscipit deserunt necessitatibus dolorum
                                                    voluptatibus facere eos neque maiores maxime?</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 292.5px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="testimony-wrap py-4">
                                            <div class="text">
                                                <div class="d-flex align-items-center">
                                                    <div class="user-img"
                                                        style="background-image: url(assets/images/bg_4.jpg)"></div>
                                                    <div class="pl-3">
                                                        <p class="name">Technicien helpdesk</p>
                                                        <span class="position">Nb sessions à venir : 4</span>
                                                    </div>
                                                </div>
                                                <p class="mb-4">Far far away, behind the word mountains, far from the
                                                    countries Vokalia and Consonantia, there live the blind texts.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 292.5px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="testimony-wrap py-4">
                                            <div class="text">
                                                <div class="d-flex align-items-center">
                                                    <div class="user-img"
                                                        style="background-image: url(assets/images/bg_4.jpg)"></div>
                                                    <div class="pl-3">
                                                        <p class="name">Technicien helpdesk</p>
                                                        <span class="position">Nb sessions à venir : 4</span>
                                                    </div>
                                                </div>
                                                <p class="mb-4">Far far away, behind the word mountains, far from the
                                                    countries Vokalia and Consonantia, there live the blind texts.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 292.5px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="testimony-wrap py-4">
                                            <div class="text">
                                                <div class="d-flex align-items-center">
                                                    <div class="user-img"
                                                        style="background-image: url(assets/images/bg_4.jpg)"></div>
                                                    <div class="pl-3">
                                                        <p class="name">Technicien helpdesk</p>
                                                        <span class="position">Nb sessions à venir : 4</span>
                                                    </div>
                                                </div>
                                                <p class="mb-4">Far far away, behind the word mountains, far from the
                                                    countries Vokalia and Consonantia, there live the blind texts.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 292.5px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="testimony-wrap py-4">
                                            <div class="text">
                                                <div class="d-flex align-items-center">
                                                    <div class="user-img"
                                                        style="background-image: url(assets/images/bg_4.jpg)"></div>
                                                    <div class="pl-3">
                                                        <p class="name">Technicien helpdesk</p>
                                                        <span class="position">Nb sessions à venir : 4</span>
                                                    </div>
                                                </div>
                                                <p class="mb-4">Far far away, behind the word mountains, far from the
                                                    countries Vokalia and Consonantia, there live the blind texts.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 292.5px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="testimony-wrap py-4">
                                            <div class="text">
                                                <div class="d-flex align-items-center">
                                                    <div class="user-img"
                                                        style="background-image: url(assets/images/bg_4.jpg)"></div>
                                                    <div class="pl-3">
                                                        <p class="name">Technicien helpdesk</p>
                                                        <span class="position">Nb sessions à venir : 4</span>
                                                    </div>
                                                </div>
                                                <p class="mb-4">Far far away, behind the word mountains, far from the
                                                    countries Vokalia and Consonantia, there live the blind texts.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 292.5px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="testimony-wrap py-4">
                                            <div class="text">
                                                <div class="d-flex align-items-center">
                                                    <div class="user-img"
                                                        style="background-image: url(assets/images/bg_4.jpg)"></div>
                                                    <div class="pl-3">
                                                        <p class="name">Technicien helpdesk</p>
                                                        <span class="position">Nb sessions à venir : 4</span>
                                                    </div>
                                                </div>
                                                <p class="mb-4">Far far away, behind the word mountains, far from the
                                                    countries Vokalia and Consonantia, there live the blind texts.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-nav disabled"><button role="presentation" class="owl-prev"><span
                                    class="ion-ios-arrow-back"></span></button><button role="presentation"
                                class="owl-next"><span class="ion-ios-arrow-forward"></span></button></div>
                        <div class="owl-dots"><button class="owl-dot"><span></span></button><button
                                class="owl-dot active"><span></span></button></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Bandeau du bas -->
    <section class="ftco-intro ftco-section ftco-no-pb">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <div class="img" style="background-image: url(assets/images/bg_4.jpg);">
                        <div class="overlay"></div>
                        <h2>IT-Training - Des formations de qualité par des équipes d'experts</h2>
                        <p class="mb-0"><a href="" class="btn btn-primary px-4 py-3">Vous n'avez pas encore de compte
                                ?</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</ng-container>