<footer class="ftco-footer ftco-no-pt">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-4 pt-5">
                <div class="ftco-footer-widget pt-md-5 mb-4">
                    <h2 class="ftco-heading-2"> IT TRAINING</h2>
                    <p>Nous sommes une plate-forme pour faire apprendre</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft ml-5">
                        <li><a routerLink=""><span><i class="fa-brands fa-twitter"></i></span></a></li>
                        <li><a routerLink=""><span><i class="fa-brands fa-facebook"></i></span></a></li>
                        <li><a routerLink=""><span><i class="fa-brands fa-linkedin-in"></i></span></a></li>
                        <li><a routerLink=""><span><i class="fa-brands fa-instagram"></i></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 pt-5">
                <div class="ftco-footer-widget pt-md-5 mb-4">
                    <h2 class="ftco-heading-2">Formations récentes</h2>
                    <ul class="list-unstyled">
                        <li><a routerLink="" class="py-2 d-block">Développeur Java JEE</a></li>
                        <li><a routerLink="" class="py-2 d-block">Web Design</a></li>
                        <li><a routerLink="" class="py-2 d-block">Data Scientist</a></li>
                        <li><a routerLink="" class="py-2 d-block">Expert en cybersécurité</a></li>
                        <li><a routerLink="" class="py-2 d-block">Administrateur Linux</a></li>
                        <li><a routerLink="" class="py-2 d-block">Développeur web et web mobile</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 pt-5">
                <div class="ftco-footer-widget pt-md-5 mb-4">
                    <h2 class="ftco-heading-2">Avez-vous une question ?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon fa fa-map-marker"></span><span class="text"> 125 allée primavera
                  Pringy,<p> 06560 valbonne</p></span></li>
                            <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">04 42 43 89 75</span></a></li>
                            <li><a href="#"><span class="icon fa fa-paper-plane"></span><span
                    class="text">info@ittraining.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="offset-lg-8 offset-md-2 col-md-4 mb-0">©Copyright - IT TRAINING 2022. Tous droits réservés.</p>
</footer>