<section class="hero-wrap hero-wrap-2" style="background-image: url(./assets/images/bg_2.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center fadeInUp ftco-animated">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Acceuil
                            <i class="fa fa-chevron-right"></i></a></span>
                    <span>Compte <i class="fa fa-chevron-right"></i></span>
                </p>
                <h3 class="mb-0 bread">
                    Vos données personnelles
                </h3>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section bg-light">
    <div class="container">

        <div class="container">
            <div class="wrapper">
                <ul class="steps">
                    <li class="is-active">Etape 1</li>
                    <li>Etape 2</li>
                    <li>Etape 3</li>
                </ul>
                <form class="form-wrapper">
                    <fieldset class="section is-active">
                        <input type="text" name="name" id="name" value={ { }}>
                        <input type="text" name="username" id="username" placeholder="">
                        <input type="text" name="name" id="name" placeholder="Adresse e-mail">
                        <div class="button">Modifier</div>
                        <div class="button">Valider</div>
                    </fieldset>
                    <fieldset class="section">
                        <h3> Type de compte</h3>
                        <div class="row cf">
                            <div class="four col">
                                <input type="radio" name="r1" id="r1" checked>
                                <label for="r1">
                        <h4> Client </h4>
                      </label>
                            </div>
                            <div class="four col">
                                <input type="radio" name="r1" id="r2"><label for="r2">
                        <h4>Client VIP</h4>
                      </label>
                            </div>
                        </div>
                        <div class="button">Suivant</div>
                    </fieldset>
                    <fieldset class="section">
                        <h3>Modifier mot de passe</h3>
                        <input type="password" name="password" id="password" placeholder="Password">
                        <input type="password" name="password2" id="password2" placeholder="Re-enter Password">
                        <input class="submit button" type="submit" value="Valider">
                    </fieldset>
                    <fieldset class="section">
                        <h3>Compte crée avec Succées!</h3>
                        <p>Vos données sont bien modifiés</p>
                        <div class="button">Reset Form</div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>